<div class="home">
  <div id="busqueda">
    <span>Gift URL</span>
    <div id="form">
      <%= form_tag event_form_path do %>
        <div id="gift-url">
           <%= text_field_tag 'gift_url', t(:home_paste_here)%>  
        </div>
        <input id="<%= (current_user)? 'search' : 'go-sign-in'%>" type="image" src="images/lupa.png" />
      <%end%>
    </div>
  </div>
  <%= image_tag 'lens.png', :class => 'lens'%>
  <ul>
    <li id="step1">
      <%= image_tag 'gift_home.png'%>
      <h3><%= t(:home_choose_gift)%></h3>
    </li>
    <li id="step2">
      <%= image_tag 'megaphone_home.png'%>
      <h3><%= t(:home_spread_world)%></h3>
    </li>
    <li id="step3">
      <%= image_tag 'machine_home.png'%>
      <h3><%= t(:home_get_it)%></h3>
    </li>
  </ul>
  <div class="clearBoth"></div>
</div>

<div id="bottom">
  
</div>