<div id="content" class="home">
  <div id="busqueda">
    <span>What gift do you want?</span>
    <%= form_tag event_form_path do %>
      <%= text_field_tag 'gift_url', t(:home_paste_here)%>  
      <input id="<%= (current_user)? 'search' : 'go-sign-in'%>" type="submit" value="GO" class="search-submit" />
    <%end%>
  </div>
  <%= image_tag 'lens.png', :class => 'lens'%>
</div>

<ul class="ilustrations">
  <li>
    <%= image_tag 'gift_home.png', :class => 'step1'%>
    <h3><%= t(:home_choose_gift)%></h3>
    Find your gift on the internet, then copy-paste the URL in our home page and edit your event.
  </li>
  <li>
    <%= image_tag 'megaphone_home.png', :class => 'step2'%>
    <h3><%= t(:home_spread_world)%></h3>
    Invite your friends through your social networks to start making donations to your gift.
  </li>
  <li>
    <%= image_tag 'machine_home.png', :class => 'step3'%>
    <h3><%= t(:home_get_it)%></h3>
    Once you've reached your money goal thanks all your friends donations, you can buy it.
  </li>
</ul>

<ul class="explination steps">
  <li>
    <h3>What is Gifty fifty?</h3>
    A service where your friends and family give a part of the total cost of your gift.
  </li>
  <li>
    <h3>Who is it for?</h3>
    For you and for everyone with a special occassion to celebrate.
  </li>
  <li>
    <h3>Why use it?</h3>
    We help you to get the gift want and your friends won't waste money on useless things you don't like.
  </li>
</div>