<div class="gift">
  <%= link_to(image_tag(event.item.image), event.item.purchase_url, {:target => 'blank'}) %>
  <div class="gift-info">
    <%= event.item.name %> <span class="price"><%= number_to_currency((event.item.formated_price)) %></span>
    <ul>
      <% if event.item %>
        <li>Categories: <span><%= event.item.category%></span></li>
      <% end %>
      <% if event.provider %>
        <li>Powered by: <span><%= link_to(event.provider.name.humanize, event.provider.url, {:target => 'blank'}) %></span></li>
      <% end %>
    </ul>
    <div class="gift_donations">
      <span class="porcentage_gift"><%= event.porcentage_donation %>% closer to your gift</span>
      <div class="advance">
        <div class="stripes" style="width:<%= event.porcentage_donation%>%"></div>
      </div>
    </div>
    <div class="view_button">
      <%= link_to 'View Event', event_path(event), {:class => "submit"}%>
    </div>
  </div>
</div>