<div class="gift">
  <%= image_tag event.item.image %>
  <div class="gift-info">
    <%= event.item.name %> <span class="price"><%= number_to_currency((event.item.formated_price)) %></span>
    <ul>
      <% if event.item %>
        <li>Categories: <span><%= event.item.category%></span></li>
      <% end %>
      <% if event.provider %>
        <li>Powered by: <span><%= event.provider.name.humanize %></span></li>
      <% end %>
    </ul>
    <span class="porcentage_gift"><%= event.porcentage_donation %>% closer to your gift</span>
    <div class="advance">
      <div class="stripes" style="width:<%= event.porcentage_donation%>%"></div>
    </div>
  </div>
</div>