<div id="my_profile">
  <div id="col-1">
    <h1>My Profile</h1>
    <p class="profile">
      <%= image_tag current_user.thumb_image if current_user.thumb_image %>
        <%= current_user.name %><br />
        <% if current_user.birthday %>
          <span class="age"><%= current_user.age %> years old</span>
        <% end %>
    </p>
    <h1>My Gifts</h1>
    <% current_user.events.each do |event| %>
      <%= render :partial => 'event', :locals => {:event => event} %>
    <%end%>
    <% if current_user.events.blank? %>
      <div class="gift">
        You haven't submit gift yet.
      </div>
    <% end %>
    <hr />
    <h1 class="donations">My Donations</h1>
    <% current_user.donations.each do |donation| %>
      <%= render :partial => 'donation', :locals => {:donation => donation} %>
    <%end%>
    <% if current_user.donations.blank? %>
      <p class="donation">
        You haven't made donations yet.
      </p>
    <% end %>
  </div>
  <div id="col-2" class="aside">
    <div class="aside-container share-on">
      <h3>Invite Your Friends</h3>
      <%= link_to(image_tag('invite-twitter.png'),'' , :id => 'twitter-share-link') %>
      <%= link_to(image_tag('invite-facebook.png'),'', :id => 'facebook-share-link') %>
    </div>
  </div>
</div>

<div id="share-facebook" title="Invite Your Friends - Facebook">
  <%= form_tag event_facebook_path(current_user.events.last || Event.new) do %>
    <%= text_area_tag 'facebook_message'  %>
    
  <%end%>
</div>
<div id="share-twitter" title="Invite Your Friends - Twitter">
  <%= form_tag event_twitter_path(current_user.events.last || Event.new) do %>
    <%= text_area_tag 'twitter_message'  %>
    <%= submit_tag 'Share', :class => 'submit'%>
  <%end%>
</div>

<% content_for :scripts do %>
<%= javascript_include_tag 'jquery.counter'%>
<script>
  $(function() {
    loadShareObjects();
    dialogShareBoxes();
    countCharacters();
  });
</script>
<% end %>