<% form_for current_user, :url => user_registration_path, :method => :put do |form| %>
  <p>
    <%= form.label :email%>
    <%= form.text_field :email%>
  </p>
  <p>
    <%= form.label :name%>
    <%= form.text_field :name%>
  </p>
  <p>
    <%= form.label :password%>
    <%= form.text_field :password%>
  </p>
  <p>
    <%= form.label :password_confirmation%>
    <%= form.text_field :password_confirmation%>
  </p>
  <p>
    <%= form.submit 'Save'%>
  </p>
  <p>
    <% if current_user.twitter_account %>
      You already have linked your twitter Account.
    <% else %>
        <%= link_to(image_tag('twitter_64.png'), new_my_account_twitter_path) %>
    <% end %> 
  </p>
  <p>
    <% if current_user.facebook_account %>
      You already have linked your facebook Account.
    <% else %>
      <%= link_to(image_tag('facebook_64.png'), new_my_account_facebook_path) %>
    <%end%> 
  </p>
<%end%>