<div id="my_profile">
  <div id="col-1">
    <h1>My Profile</h1>
    <p class="profile">
      <%= image_tag current_user.thumb_image if current_user.thumb_image %>
        <%= current_user.name %><br />
        <span class="age"><%= current_user.age %> years old</span>
    </p>
    <h1>My Gifts</h1>
    <% current_user.events.each do |event| %>
      <%= render :partial => 'event', :locals => {:event => event} %>
    <%end%>
    <hr />
    <h1 class="donations">My Donations</h1>
    <% current_user.donations.each do |donation| %>
      <%= render :partial => 'donation', :locals => {:donation => donation} %>
    <%end%>
  </div>
  <div id="col-2" class="aside">
  </div>
</div>