<div id="account" class="span-9">
  <%= render :partial => 'shared/box_title', :locals => {:type => type} %>
  <%= form_for(@user, :url => form_path(type)) do |f| %>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    
    <% if type == 'sign-in' %>
      <p>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </p>
    <%end%>
    <%= hidden_field_tag 'gift_url' %>
    <%= hidden_field_tag 'from_main','true' %>

    <p><%= f.submit button_label(type) %></p>
  <% end %>
</div>