<div id="login-box" class="login-box">
  <div id="name" class="column">
    <%= form_for(@user, :url => registration_path(@user)) do |f| %>
      <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </p>

      <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </p>

      <p>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </p>

      <p><%= f.submit "Sign up" %></p>
    <% end %>
  </div>
  <div id="name" class="column">
    <%= link_to(image_tag('facebook_64.png'), '/auth/facebook')%>
    <%= link_to 'ddddd', new_user_session_path%>
  </div>
</div>