<ul id="login">
  <% if user_signed_in? %>

    <% active_event = current_user.active_event
      unless active_event.blank? %>
        <li><%= link_to(t(:my_event),event_path(active_event.last)) %></li>
      <% end %>
    <li><%= link_to(t(:my_account),show_profile_path,{:id => 'my-account-link'}) %></li>
    <li><%= link_to(t(:logout),destroy_user_session_path) %></li>
  <%else%>
    <li><%= t(:have_account)%> <%= link_to(t(:login),'',{:id => 'login-link'}) %></li>
  <%end%>
</ul>