<div id="login">
  <% if user_signed_in? %>
    <div id="menu_toggle">
      <%= image_tag(current_user.menu_image) if current_user.menu_image %> Welcome <%= current_user.name if current_user.name%>
    </div>
    <div id="menu_content">
      <div id="menu_elements">
        <%= link_to(content_tag('p', t(:my_profile)), show_profile_path) %>
        <%= link_to(content_tag('p', t(:my_settings)), edit_user_registration_path,{:id => 'my-account-link'}) %>
        <% active_event = current_user.active_event
        unless active_event.blank? %>
          <%= link_to(content_tag('p', t(:my_event)),event_path(active_event.last)) %>
        <% end %>
        <%= link_to(content_tag('p', t(:logout)),destroy_user_session_path) %>
      </div>
    </div>
  <%else%>
    
    <li><%= t(:have_account)%> <%= link_to(t(:login),'',{:id => 'login-link'}) %></li>
  <%end%>
</div>
