<div id="login">
  <% if user_signed_in? %>
    <div id="menu_toggle">
      <%= image_tag current_user.menu_image if current_user.avatar %> Welcome <%= current_user.name %>
    </div>
    <div id="menu_content">
      <div id="menu_elements">
        <p><%= link_to(t(:my_account), edit_user_registration_path,{:id => 'my-account-link'}) %></p>
        <% active_event = current_user.active_event
        unless active_event.blank? %>
          <p><%= link_to(t(:my_event),event_path(active_event.last)) %></p>
        <% end %>
        <p><%= link_to(t(:logout),destroy_user_session_path) %></p>
      </div>
    </div>
  <%else%>
    
    <li><%= t(:have_account)%> <%= link_to(t(:login),'',{:id => 'login-link'}) %></li>
  <%end%>
</div>