#login-box
  - if user_signed_in?
    #user-menu
      = image_tag(current_user.menu_image)
      = current_user.name
    %ul#menu-content
      %li
        = link_to(t(:my_profile), show_profile_path)
      %li
        = link_to(t(:my_settings), edit_user_registration_path,{:id => 'my-account-link'})
      - unless current_user.active_events.blank?
        %li
          = link_to(t(:my_event),event_path(current_user.active_events.last))
      %li#last
        = link_to(t(:logout),destroy_user_session_path)
  - else
    %ul#login-links
      %li
        = link_to(t(:sign_up),sign_box_path,{:id => 'login-link'})
      %li
        = link_to(t(:login), login_box_path,{:id => 'sigin-link'})