
<div id="gift">
  <div class="gift-image">
    <%= link_to(image_tag(@event.item.image), @event.item.purchase_url, {:target => 'blank'}) %>
  </div>
  <div id="gift-description">
    <h2 class="gift-title"><%= @event.item.name %></h2>
    <p class="gift-price"><%= number_to_currency((@event.item.formated_price)) %></p>
    <ul class="gift-details">
      <% if @event.item %>
      <li class="gift-categories">Categories: <span><%= @event.item.category%></span></li>
      <% end %>
      <% if @event.provider %>
      <li class="gift-powered">Powered by: <span><%= @event.provider.name.humanize %></span></li>
      <% end %>
    </ul>