<% form_for @event, :method => :put, :html => {:id => 'gift-form'} do |form|%>
<div class="edit">
  <div id="col-1">
    <div id="gift-header">
      <h1>Edit your Gift</h1>
    </div>
    <div id="gift">
      <div class="gift-image">
        <%= image_tag @event.item.image %>
      </div>
      <div id="gift-description">
        <h2 class="gift-title"><%= @event.item.name %></h2>
        <p class="gift-price">
          <% if @event.item == 0 || @event.item.nil? || @event.item.blank? %>
            <%= text_field_tag 'event[item_attributes][price]' %>
          <% else %>
            <%= number_to_currency((@event.item.formated_price)) %>
          <% end %>
        </p>
        <ul class="gift-details">
          <% if @event.item.category %>
            <li class="gift-categories">Categories: <span><%= @event.item.category %></span></li>
          <% end %>
          <% if @event.provider %>
            <li class="gift-powered">Powered by: <span><%= @event.provider.name.humanize %></span></li>
          <% end %>
        </ul>
      </div>
    </div>
      <div id="occasion">
        <label for="gift-occasion">Occasion</label><br  />
        <%= form.select 'occasion_id', options_for_select(@occasions), :html => {:id =>'gift-occasion'} %>
      </div>
      <div id="title">
        <label for="gift-title">Title</label><br />
        <%= form.text_field 'title', :html => {:id => 'gift-title'} %>
      </div>
      <div id="description">
        <label for="gift-description">Description</label><br />
        <%= form.text_area :description, :id => 'gift-description' %>
      </div>
      <div id="dates">
        <div id="begin">
          <label for="gift-begin">Begin</label><br />
          <%= form.text_field 'start_at' %>
        </div>
        <div id="end">
          <label for="gift-end">End</label><br />
          <%= form.text_field 'end_at' %>
        </div>
      </div>
      <input type="submit" value="Save" id="save" class="submit"/>
      <div class="clearBoth"></div>
    <% end %>
  </div>
  <div id="col-2" class="aside">
    <div class="aside-container">
      <p class="title">Edit your gift</p>
      <p>Some descriptive text here</p>
    </div>
  </div>
  <div class="clearBoth"></div>
</div>