<div class="event-gift span-24 last">
  <div class="span-6">
    <%= image_tag @event.item.image_url %>
  </div>
  <div class="span-18 last">
    <%= content_tag 'h1', @event.item.name %>
    <%= content_tag 'h3', 'By ' + @event.provider.name.humanize %>
    <%= content_tag 'h3', number_to_currency((@event.item.price.to_i/100)) %>
  </div>
  <div class="span-24 last">
    <% form_for @event, :method => :put do |form|%>
      <p>
        <%= form.label 'title' %><br/>
        <%= form.text_field 'title' %>
      </p>
    
      <p>
        <%= form.label 'description' %><br/>
        <%= form.text_area :description %>
      </p>
    
      <p>
        <%= form.label 'start' %>
        <%= form.text_field 'start_at' %>
      
        <%= form.label 'end' %>
        <%= form.text_field 'end_at' %>
      </p>
    
      <p>
        <%= form.label 'event' %><br/>
        <%= form.select 'occasion_id', options_for_select(@occasions) %>
      </p>
    
      <p>
        <%= submit_tag 'Save' %>
      </p>
    <% end %>
  </div>
</div>

