<div id="event-new">
  <%= form_for [@event] do |form| %>
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Gift Information</a></li>
        <li><a href="#tabs-2">Event Information</a></li>
        <li><a href="#tabs-3">Image</a></li>
      </ul>
      <div id="tabs-1">
        <%= form.fields_for [@event.item], :html => {:multipart => true} do |item_form| %>
          <p>
            <%= item_form.label :name %>
            <%= text_field_tag 'event[item_attributes][name]' %>
          </p>
          <p>
            <%= item_form.label :price %>
            <%= text_field_tag 'event[item_attributes][price]' %>
          </p>
          <p>
            <%= item_form.label :url %>
            <%= text_field_tag 'event[item_attributes][purchase_url]' %>
          </p>
        <% end %>
        <%= tag('input', {:type => 'button', :value => 'Next >>', :id => 'gift-button'})%>
        <div class="clearBoth"></div>
      </div>
      <div id="tabs-2">
        <div class="left">
          <div class="left">
            <%= form.label 'occasion' %><br />
            <%= form.select :occasion_id, options_for_select(@occasions) %>
          </div>
          <div class="title">
            <%= form.label :title %><br />
            <%= form.text_field :title %>
          </div>
        </div>
        <div class="description_dates">
          <div class="left">
            <%= form.label :description %> <br/>
            <%= form.text_area :description %>
          </div>
          <div class="dates">
            <%= form.label :start %> <br />
            <%= form.text_field :start_at %>
            <br /><br />
            <%= form.label :end %><br />
            <%= form.text_field :end_at %>
          </div>
        </div>
        <p class="hidden">
          <%= form.check_box :manual, {:checked => true} %>
        </p>
        <p class="button">
          <%= tag('input', {:type => 'button', :value => 'Next >>', :id => 'event-button'})%>
        </p>
        <div class="clearBoth"></div>
      </div>
      <div id="tabs-3">
        <p>
          <label>Gift Image</label>
          <%= file_field_tag 'event[item_attributes][image_uploaded]' %>
          <%= hidden_field_tag 'event[item_attributes][image_uploaded_cache]' %>
        </p>
        Or
        <p>
          <label>Image Url</label>
          <%= text_field_tag 'event[item_attributes][remote_image_uploaded_url]' %>
        </p>
        <%= form.submit 'Create'%>
        <div class="clearBoth"></div>
      </div>
    </div>
  <%end%>
</div>

<% content_for :scripts do %>
  <script>
    $(function() {
      setTabs();
      buttonsCreateEvent();
    });
  </script>
<% end %>