<div class="gift-profile">
  <div id="col-1">
    <div id="gift-header">
      <%= image_tag @event.user.thumb_image if @event.user.avatar %> 
      <h1><% @event.user.name %>'s <%=  @event.occasion.name.humanize if @event.occasion %> Gift</h1>
    </div>
    <div id="gift">
      <div class="gift-image">
        <%= image_tag @event.item.image_url%>
      </div>
      <div id="gift-description">
        <h2 class="gift-title"><%= @event.item.name %></h2>
        <p class="gift-price"><%= number_to_currency((@event.item.price.to_i/100)) %></p>
        <ul class="gift-details">
          <li class="gift-categories">Categories: <span><%= @event.item.category%></span></li>
          <li class="gift-powered">Powered by: <span><%= @event.provider.name.humanize %></span></li>
        </ul>
        <div class="gift-description">
          <h3><%= @event.title %></h3>
          <p><%= @event.description %></p>
        </div>
        <% unless is_owner? %>
          <div class="gift-donate">
            <%= link_to 'Donate', new_event_donation_path(@event), {:class => "submit"}%>
          </div>
        <% end %>
      </div>
    </div>
    
    <div id="facebook-connect">
      <h3> Facebook Comments</h3>
      <fb:comments xid="<% @event.id.to_s + @event.created_at.to_i.to_s%>" numposts="30" width="500" publish_feed="true"></fb:comments>
    </div>
  </div>
  <div id="col-2" class="aside">
    <div class="first-container aside-container">
      <p class="title"><%= @event.porcentage_donation %>% closer to your gift</p>
      <div class="info">
        <div class="advance">
          <div class="stripes"></div>
        </div>
      </div>
      <div class="ends-on">
        <p class="title">This celebration ends in:</p>
        <div class="info"><%= @event.rest_days %> days</div>
      </div>
    </div>
    <div class="aside-container">
      <p class="title">Gift Donors</p>
      <p>There are no donors yet</p>
      <% if is_owner? %>
        <div class="share-on">
          <p class="title">
            Tell your friends! <span>Share on</span>
          </p>
            <%= twitter_link %>
            <%= facebook_link %>
        </div>
      <%end%>
      </div>
    </div>
  </div>


  <% content_for :scripts do %>
  <script>
  $(function() {
    $('.stripes').width('<%= @event.porcentage_donation %>%')
  });
  </script>
  <% end %>