<div class="gift-profile">
  <div id="col-1">
    <div id="gift-header">
      <%= image_tag @event.user.thumb_image if @event.user.thumb_image %> 
      <h1><%= @event.user.name %>'s <%=  @event.occasion.name.humanize if @event.occasion %> Gift</h1>
    </div>
    <div id="gift">
      <div class="gift-image">
        <%= link_to(image_tag(@event.item.image), @event.item.purchase_url, {:target => 'blank'}) %>
      </div>
      <div id="gift-description">
        <h2 class="gift-title"><%= @event.item.name %></h2>
        <p class="gift-price"><%= number_to_currency((@event.item.formated_price)) %> <span style="font-size:10px">Shipping Cost <%= number_to_currency((@event.item.formated_shipping_cost)) %></span></p>
        <ul class="gift-details">
          <% if @event.item %>
            <li class="gift-categories">Categories: <span><%= @event.item.category%></span></li>
          <% end %>
          <% if @event.provider %>
            <li class="gift-powered">Powered by: <span><%= @event.provider.name.humanize %></span></li>
          <% end %>
        </ul>
        <div class="gift-description">
          <h3><%= @event.title %></h3>
          <p><%= @event.description %></p>
        </div>
        <% unless is_owner? and @event.open %>
          <div class="gift-donate">
            <%= link_to 'Donate', new_event_donation_path(@event), {:class => "submit"}%>
          </div>
        <% end %>
        <% if is_owner? and @event.open %>
          <div class="gift-donate">
            <%= link_to 'Edit', edit_event_path(@event), {:class => "submit"}%>
            <%= link_to 'Release','', {:class => "submit", :id => 'release-gift'}%>
          </div>
        <%end%>
      </div>
    </div>
    
    
    <div id="facebook-connect">
      <h3> Facebook Comments</h3>
      <fb:comments xid="<% @event.id.to_s + @event.created_at.to_i.to_s%>" numposts="30" width="500" publish_feed="true"></fb:comments>
    </div>
  </div>
  <div id="col-2" class="aside">
    <div class="first-container aside-container">
      <p class="title"><%= @event.porcentage_donation %>% closer to your gift</p>
      <div class="info">
        <div class="advance">
          <div class="stripes"></div>
        </div>
      </div>
      <div class="ends-on">
        <p class="title">This celebration ends in:</p>
        <div class="info"><%= @event.rest_days %> days</div>
      </div>
    </div>
    <div class="aside-container">
      <p class="title">Gift Donors</p>
      <p>There are no donors yet</p>
    </div>
    <div class="aside-container">
      <% if is_owner? %>
        <div class="share-on">
          <p class="title">
            Invite and tell your friends to donate on
          </p>
            <%= twitter_link %>
            <%= facebook_link %>
            <%=  link_to(image_tag('share-mail.png'), '', :id => 'email-share-link') %>
            <p class="title">
              Your Link
            </p>
            <%= text_field_tag 'event_url', personal_urls_url(@event.identifier)%>
        </div>
      <%end%>
      </div>
    </div>
  </div>
  
  <div id="share-facebook" title="Facebook Message">
    <%= form_tag event_facebook_path(@event) do %>
      <%= text_area_tag 'facebook_message', @event.message('event', event_url(@event))  %>
      
    <%end%>
  </div>
  <div id="share-twitter" title="Twitter Message">
    <%= form_tag event_twitter_path(@event) do %>
      <%= text_area_tag 'twitter_message', @event.message('event', event_url(@event))  %>
      <%= submit_tag 'Share', :class => 'submit'%>
    <%end%>
  </div>
  <div id="share-email" title="Email Invitation">
    <%= form_tag event_invitation_path(@event) do %>
      <%= text_field_tag 'add_email' %>
      <%= link_to 'Add','', {:class => "submit", :id => 'add-new-email'}%>
      <div id="all_emails">
        Send Invitation to:
      </div>
      <%= submit_tag 'Share', :class => 'submit'%>
    <%end%>
  </div>
  <div id="release-box" title="Release Your Gift">
    <%= form_for @event.build_release, :url => event_release_paypal_path(@event) do |form|%>
      <%= form.label 'Paypal email' %>
      <%= form.text_field :email %>
      <%= submit_tag 'Release', :class => 'submit'%>
    <%end%>
  </div>


  <% content_for :scripts do %>
  <%= javascript_include_tag 'jquery.counter'%>
  <script>
    $(function() {
      $('.stripes').width('<%= @event.porcentage_donation %>%');
      loadFacebook();
      loadShareObjects();
      dialogShareBoxes();
      countCharacters();
      releaseBox();
      emailSharing();
    });
  </script>
  <% end %>