<div class="confirm-donation">
  <% form_for @donation, :url => event_donations_path(params[:event_id]) do |form| %>
  <div id="gift-title">
    <h1>Contributions</h1>
  </div>
  <div id="left">
    <div class="top">
      <div id="gift-header">
        <%= image_tag @event.user.thumb_image if @event.user.thumb_image %> 
        <span><%= @event.user.name %>'s <%=  @event.occasion.name.humanize if @event.occasion %> Gift</span>
      </div>
      <div id="gift">
        <div class="gift-image">
          <%= link_to(image_tag(@event.item.image), @event.item.purchase_url, {:target => 'blank'}) %>
        </div>
        <div id="gift-description">
          <h2 class="gift-title"><%= @event.item.name %></h2>
          <p class="gift-price"><%= number_to_currency((@event.item.formated_price)) %> <span style="font-size:10px">Shipping Cost <%= number_to_currency((@event.item.formated_shipping_cost)) %></span></p>
        </div>
      </div>
      <ul class="gift-details">
        <% if @event.item %>
        <li class="gift-categories">Categories: <span><%= @event.item.category%></span></li>
        <% end %>
        <% if @event.provider %>
        <li class="gift-powered">Powered by: <span><%= @event.provider.name.humanize %></span></li>
        <% end %>
      </ul>
      </div>
      <div class="bottom">
        <h4>How much happiness will you give to your friend?</h4>
        Enter your contribution amount <%=form.text_field :amount, :size => '10' %>
        <div id="breakdown">
          Direct contribution: <span id="direct">$0</span>
          <br />
          Our handing cost: <span id="handing">$0</span>
        </div>
        <div class="clearBoth"></div>


      </div>
    </div>
    <div id="right">
      <div class="top">
        <div id="credit_card">
          <h4>Please fill the spaces with your card info</h4>
          <ul>
            <li>
              <%= form.label 'Card holder (*)' %>
              <br/>
              <%= form.text_field :name, :size => '15' %>
            </li>
            <li>
              <%= form.label :expiration_date %>
              <br/>
              <%= form.select :month, options_for_select(Donation::MONTHS) %>
              <%= form.select :year, Donation::years %>
            </li>
          </ul>
          <ul>
            <li>
              <%= form.label :credit_card %>
              <br/>
              <%= form.text_field :credit_card, :size => '15' %>
            </li>
            <li>
              <%= form.label :verification_value %>
              <br/>
              <%= form.text_field :verification_value, :size => '12' %>
            </li>
          </ul>
        </div>
        <div id="paypal">
          <%= image_tag 'paypal_big.png'%>
        </div>
      </div>
      <div class="bottom">
        <div class="payment_methods">
          <div class="radio-button">
            <%= radio_button_tag 'payment_method','credit_card', {:checked => 'checked'}%>
          </div>
          <%= image_tag 'card_accepted.png'%>
        </div>
        <div class="payment_methods">
          <div class="radio-button">
            <%= radio_button_tag 'payment_method','paypal'%>
          </div>
          <%= image_tag 'paypal.png'%>
        </div>
      </div>
    </div>
    <div id="continue">
      <%= check_box_tag 'terms'%> I accept the therms of use
      <br />
      <%= form.submit 'Continue', :id => 'save', :class => 'disable', :disabled => 'disable' %>
    </div>
    <%end%>
  </div>

  <% content_for :scripts do %>
  <script type='text/javascript'>
  $(function() {
    donationCheckbox();
    acceptTerms();
    onlyNumber();
    calculateFeed();
  });
  </script>
  <% end %>