<div id="show-donation">
  <p id="donation-thanks">
    Thank you for being part of <%= @donation.event.title %>. <br/>
    Your contribution has been done! <br/>
    Now <%= @donation.event.user.name %> is <%= @donation.event.porcentage_donation %>% closer to get his gift.
  </p>

  <ul id="donation-share">
    <li id ="share">
      <h3>Share your Contribution</h3>
      Show off the world about your action and help your friend to get more contributions.
    </li>
    <li id="buttons">
      <%= link_to(image_tag('share-twitter.png'), event_twitter_path(@event,:message => 'share'), :method => :post) %>
      <%= link_to(image_tag('share-facebook.png'), event_facebook_path(@event,:message => 'share'), :method => :post ) %>
    </li>
  </ul>

  <ul id="your-gift" class="top-rounded">
    <li id ="share">
      <h3>Submit your Gift</h3>
      Why don't you tell your friends what you want?
    </li>
    <li id="buttons">
      <%= link_to(image_tag('submit-gift.png'), root_path) %>
    </li>
  </ul>
</div>

<% content_for :scripts do %>
  <script>
    $(function() {
      $.fancybox({
        'titlePosition' : 'inside',
        'transitionIn' : 'none',
        'transitionOut' : 'none',
        'width' : '1100',
        'height' : '500',
        'modal' : true,
        'autoScale' : false,
        'autoDimensions' : false,
        'content': $('#show-donation').html(),
      });
    });
  </script>
<% end %>