<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Gifty Fifty</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag 'giftyfifty.css'%>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'ie.css' %>
  <![endif]--> 
  <%= javascript_include_tag 'giftyfifty' %>
  <%= yield :scripts %>
  <%= csrf_meta_tag %>
  <%= javascript_tag do %>
    var uservoiceOptions = {
      /* required */
      key: 'giftyfifty',
      host: 'giftyfifty.uservoice.com', 
      forum: '92345',
      showTab: true,  
      /* optional */
      alignment: 'left',
      background_color:'#4CD3EC', 
      text_color: 'white',
      hover_color: '#28CAE8',
      lang: 'en'
    };

    function _loadUserVoice() {
      var s = document.createElement('script');
      s.setAttribute('type', 'text/javascript');
      s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
      document.getElementsByTagName('head')[0].appendChild(s);
    }
    _loadSuper = window.onload;
    window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
  <%end%>
  <% javascript_tag do %>
    var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20340029-1']);
      _gaq.push(['_setDomainName', '.giftyfifty.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  <%end%>
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <%= image_tag('label_beta.png', :class => 'label-beta')%>
      <%= link_to(image_tag('logo.png'), root_path, :class => 'logo') %>
      <%= render :partial => 'shared/login_status'%>
    </div>
    <div id="content">
      <%= yield %>
      <div class="clearBoth"></div>
    </div>
  </div>
  <div id="footer">
    <div id="footer-links">
      <ul id="footer-contact">
        <li><a href="about"><%= t(:about_gifty_footer)%></a></li>
        <li><a href="http://blog.giftyfifty.com/">Blogifty</a></li>
        <li><a href="team"><%= t(:team_gifty_footer)%></a></li>
        <li><a href="jobs"><%= t(:jobs_support_footer)%></a></li>
      </ul>
      <ul id="footer-legal">
        <li>Gifty Fifty &copy; 2010</li>
        <li><a href="terms"><%= t(:terms_footer)%></a></li>
        <li><a href="contact"><%= t(:contact_footer)%></a></li>
      </ul>
    </div>
  </div>
  <div id="fb-root"></div>
</body>
</html>

<div id="login-signin-box" class="new-box span-16">
  <%= render :partial => 'shared/box', :locals => {:type => 'sign-in'} unless user_signed_in?%>
  <%= render :partial => 'shared/box', :locals => {:type => 'login'} unless user_signed_in?%>
  <div id="providers" class="column span-5 last">
    <div id="provider_facebook">
      <a href="/auth/facebook">
        <%= image_tag('facebook_64.png')%>
        <h2>Login with</h2>
        Facebook
      </a>
    </div>
    <div id="provider_twitter">
      <a href="/auth/twitter">
        <%= image_tag('twitter_64.png') %>
        <h2>Login with</h2>
        Twitter
      </a>
    </div>
  </div>
</div>
</body>
</html>
<%= growl %>