<!DOCTYPE html>
<html>
<head>
  <title>Giftyfifty</title>
  <%= stylesheet_link_tag 'cupertino/jquery-ui.css','print.css','screen.css','jgrowl.css','application.css' %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'ie.css' %>
  <![endif]--> 
  <%= javascript_include_tag 'jquery.min','jquery-ui.min','jgrowl','rails','application' %>
  <%= yield :scripts %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <div id="header" class="header">
      <div id="logo">
        <%= image_tag 'logo.png'%>
      </div>
      <div id="nav-top">
        <%= render :partial => 'shared/login_status' %>
      </div>
    </div>
    <div id="section-content">
      <div id="content" class="content">
        <%= yield %>
      </div>
    </div>
    <div id="footer" class="footer">
      <div id="nav-footer">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="http://blog.giftyfifty.com">Blogifty</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div id="legal">
        <span>Gifty Fifty &copy; 2010</span>
        <a href="#">Terms & Privacy</a>
      </div>
    </div>
  </div>

  <div id="login-box" class="new-box span-16">
    <%= render :partial => 'shared/box', :locals => {:type => 'sign-in'} unless user_signed_in?%>
    <%= render :partial => 'shared/box', :locals => {:type => 'login'} unless user_signed_in?%>
    <div id="providers" class="column span-5 last">
      <%= link_to(image_tag('facebook_64.png'), '/auth/facebook')%>
      <%= link_to(image_tag('twitter_64.png'), '/auth/twitter')%>
    </div>
  </div>
</body>
</html>
<%= growl %>